
.list {
  margin-bottom: 0;
  padding-bottom: 15px;

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  .list-type {
    padding: 15px 0 10px 15px;

    p {
      margin-bottom: 0;
    }
  }

  .list-item {
    list-style: none;
    position: relative;
    padding: 16px;
    margin-bottom: 0;
    box-shadow: $boxShadow1;

    &.external-gutter {
      margin-left: 8px;
      margin-right: 8px;
    }

    &.extra-bottom-padding {
      padding-bottom: 30px;

      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }

    &.disabled {
      background-color: #efefef;
      color: #888;
    }

    &.no-padding {
      padding: 0;
    }

    p {
      margin-bottom: 0;
    }

    .primary-content {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 50px;
      overflow: hidden;
    }

    .secondary-content {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 50px;
      overflow: hidden;
    }

    .secondary-content-right {
      color: $grey800;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .tertiary-content-right {
      font-size: 15px;
      color: $grey600;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .no-bottom-border {
    border-bottom: none;
  }
}

.fab {
  width: $fabSize;
  height: $fabSize;
  background-color: $pink500;
  color: $white;
  border-radius: $fabSize;
  border: none;
  box-shadow: $boxShadow2;
  outline: none;
  -webkit-transition: bottom ease-out 0.2s;
  transition: bottom ease-out 0.2s;
  z-index: 1000;

  &.bottom-right {
    position: fixed;
    bottom: 25px;
    right: 20px;

    &.hide-on-scroll {
      bottom: -70px;
    }
  }

  .material-icons {
    line-height: $fabSize;
  }
}

.bgc-amber500 {
  background-color: $amber500;
}

.bgc-yellow500 {
  background-color: $yellow500;
}

.bgc-lime500 {
  background-color: $lime500;
}

.bgc-lightGreen500 {
  background-color: $lightGreen500;
}

.bgc-green500 {
  background-color: $green500;
}

.table-custom {

  thead {

    th {
      cursor: pointer;
      position: relative;
      i.right-icon {
        position: absolute;
        right: 8px;
      }
    }
  }
  tbody {
    tr {
      td {
        position: relative;
        vertical-align: middle;
        &:first-child {
          padding-left: 36px;
        }
        i.left-icon {
          position: absolute;
          left: 8px;
        }
      }
    }
  }
}

.menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);

  .menu-button {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    color: $white;
    border: none;

    i {
      vertical-align: middle;
    }

    &:active, &:focus {
      outline: none;
    }
  }

  .brand {
    cursor: pointer;
    color: $white;
    line-height: 50px;
    padding-left: 50px;
    font-size: 20px;
  }
}

.menu-container {
  padding-top: 8px;
  z-index: 900;
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: $white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);

  &.active {
    display: block;
  }

  .menu-item {
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height:40px;
    padding-left: 16px;

    &:hover {
      font-weight: bold;
    }
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  padding: 15px;
  display: table;

  .modal-shadow {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .close-button {
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: 12px;
  }

  .transparent-button {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &:active {
      outline: none;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .modal-content {

    border: none;
    box-shadow: none;
    background-color: transparent;
    max-width: 400px;
    position: absolute;
    width: calc(100% - 30px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .label-separator {
      padding-left: 8px;
    }

    .modal-background {
      max-height: 100%;
      background-color: $white;
      box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
    }

    .modal-title {
      padding: 24px 24px 20px 24px;

      p {
        margin-bottom: 0;
      }
    }

    .modal-buttons {
      text-align: right;
      padding: 8px;
      button {
        &:last-child {
          margin-left: 8px;
        }
      }
    }

    .modal-text {
      padding: 0 24px 24px 24px;
      overflow-y: hidden;
      max-height: calc(100vh - 200px);


      p {
        margin-bottom: 0;

        &.font-subheading {
          margin-top: 16px;
          margin-bottom: 4px;
          font-weight: 500;
        }
      }
    }
  }
}