body, html {
  height: 100%;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: $white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


#firstPage {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  .centered-container {
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 45%;
    text-align: center;

    h1 {
      font-size: 50px;
      margin-bottom: 25px;
      color: $white;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 50px;
      color: $white;
    }

    button {
      margin-top: 100px;
      margin-bottom: 16px;
      height: 50px;
      background-color: transparent;
      color: white;
      padding-left: 30px;
      padding-right: 30px;
      -webkit-transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;
      -moz-transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;
      -ms-transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;
      -o-transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;
      transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;
      -webkit-box-shadow: $boxShadow2;
      -moz-box-shadow: $boxShadow2;
      box-shadow: $boxShadow2;

      &:active, &:focus {
        outline: none;
      }

      &:hover {
        background-color: $white;
        color: $black;
        -webkit-box-shadow: $boxShadow3;
        -moz-box-shadow: $boxShadow3;
        box-shadow: $boxShadow3;

      }
    }

    a {
      color: $white;
    }
  }

  .pageOneArrow {
    position: absolute;
    top: 90%;
    left: 50%;
  }
}

#secondPage {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    margin-bottom: 20px;
    font-weight: 300;
  }

  p {
    color: $black;
  }
}