
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, ul {
  font-family: $fontFamily;
}

h1 {
  font-size: 30px;
  font-weight: 100;
}

h2 {
  font-size: 3.5em;
  font-weight: $fontWeight;
  line-height: 50px;
}

h3 {
  font-size: $h1;
  font-weight: $fontWeight;
  line-height: 30px;
}

h4 {
  font-size: $h2;
  font-weight: $fontWeight;
}

p {
  font-family: $fontFamily;
  font-size: $body1Size;
  font-weight: $body1Weight;
  line-height: 1.2;
}

a, span {
  font-size: inherit;
  font-family: $fontFamily;
  font-weight: inherit;
}

.label-separator {
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.no-margin-bottom, .nmb {
  margin-bottom: 0;
}

.font-title {
  font-size: $titleSize;
  line-height: $titleSize;
  font-weight: $titleWeight;
}

.font-headline {
  font-size: $headlineSize;
  line-height: $headlineSize;
  font-weight: $headlineWeight;
}

.font-subheading {
  font-size: $subheadingSize;
  line-height: $subheadingSize;
  font-weight: $subheadingWeight;
}

.font-body2 {
  font-size: $body2Size;
  line-height: 16px;
  font-weight: $body2Weight;
}

.font-body1 {
  font-size: $body1Size;
  line-height: 16px;
  font-weight: $body1Weight;
}

.font-button {
  font-size: $buttonSize;
  line-height: $buttonSize;
  font-weight: $buttonWeight;
}

.font-display1 {
  font-size: $display1Size;
  line-height: $display1Size;
  font-weight: $display1Weight;
}

.font-display2 {
  font-size: $display2Size;
  line-height: $display2Size;
  font-weight: $display2Weight;
}

.font-display3 {
  font-size: $display3Size;
  line-height: $display3Size;
  font-weight: $display4Weight;
}

.font-display4 {
  font-size: $display4Size;
  font-weight: $display4Weight;
}

.font-caption {
  font-size: $captionSize;
  line-height: $captionSize;
  font-weight: $captionWeight;
}

.teal-500 {
  color: $teal500;

  &.focus, &:focus, &:hover {
    color: $teal500;
  }
}

.text-danger {
  color: $amberA700!important;
}

.bold {
  font-weight: 600;
}
