@import "color";
@import "font";
@import "variable";
@import "text";
@import "form";
@import "component";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  font-size: $body1Size;
  font-weight: $body1Weight;
  font-family: $fontFamily;
  background-color: #F2F2F2;
}


@import "main";