<p class="font-headline" style="padding-top: 50px; text-align: center;">Grand Nancy Paradise</p>
<p class="font-body1" style="padding-top: 20px; padding-left: 16px; padding-right: 16px;">Choisissez la ville que vous souhaitez découvrir</p>

<div ng-repeat="city in ctrl.data track by $index" style="margin-left: 16px;margin-right: 16px;">
    <button class="btn" ng-bind="city.LibelleGeographique" ng-click="ctrl.go(city.LibelleGeographique)" style="width: 100%; margin-bottom: 4px; margin-left: 0; background-color: #00BCD4; color: #fff;"></button>
</div>
