
<div class="menu">
    <button class="menu-button" ng-click="ctrl.back()">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="brand" ng-bind="'Direction : ' + ctrl.currentQuestion.title"></div>
</div>

<div id='map' style='position: absolute;top: 0;bottom: 0;left: 0;right: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);'></div>

<button class="fab bottom-right" ng-click="ctrl.toggleModal(true)"><i class="material-icons md-36">check</i></button>

<div class="modal-container" ng-show="ctrl.displayModal">
    <div class="modal-shadow"></div>
    <div class="modal-content">
        <div class="modal-background">
            <div class="modal-title">
                <p class="font-title">Question <span ng-bind="ctrl.currentQuestion.number"></span></p>
            </div>
            <div>
                <div class="modal-text">
                    <p ng-bind="ctrl.currentQuestion.question" style="margin-bottom: 8px;"></p>
                    <div ng-repeat="answer in ctrl.currentQuestion.answers track by $index">
                        <label><input type="radio" ng-value="answer.number" ng-model="ctrl.currentQuestion.choice"/> <span ng-bind="answer.text"></span></label>
                    </div>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleModal(false)">Annuler</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.validate()" ng-disabled="!ctrl.currentQuestion.choice">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" ng-show="ctrl.displayModalAnswer">
    <div class="modal-shadow"></div>
    <div class="modal-content">
        <div class="modal-background">
            <div class="modal-title">
                <p class="font-title">Réponse question <span ng-bind="ctrl.currentQuestion.number"></span></p>
            </div>
            <div>
                <div class="modal-text">
                    <p ng-show="ctrl.currentQuestion.correct">Bonne réponse !</p>
                    <p ng-hide="ctrl.currentQuestion.correct">Mauvaise réponse...</p>
                    <p ng-bind="ctrl.currentQuestion.answer"></p>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.next()">Suivante</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" ng-show="ctrl.displayModalEnd">
    <div class="modal-shadow"></div>
    <div class="modal-content">
        <div class="modal-background">
            <div class="modal-title">
                <p class="font-title">Fin de la visite</p>
            </div>
            <div>
                <div class="modal-text">
                    <p>Merci d'avoir joué, n'hésitez pas à découvrir les autres villes du Grand Nancy !</p>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.back()">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" ng-show="ctrl.displayModalCompass">
    <div class="modal-shadow"></div>
    <div class="modal-content">
        <div class="modal-background">
            <div class="modal-title">
                <p class="font-title">Compas</p>
            </div>
            <div>
                <div class="modal-text">
                    <p>Dirigez-vous vers <span ng-bind="ctrl.currentQuestion.title"></span></p>

                    <div style="text-align: center;">
                        <i class="material-icons" style="font-size: 100px" ng-style="{'transform': ctrl.rotate}">arrow_upward</i>
                    </div>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.toggleModalCompass(false)">Je suis arrivé !</button>
                </div>
            </div>
        </div>
    </div>
</div>